body {
	font-family: "Raleway", "Sans serif";
	margin: 0;
	padding: 4% 4% 4% 4%;
  }

  a {
	color: inherit;
	text-decoration: none;
  }
  .header {
	display: grid;
	align-items: center;
	max-width: 1440px;
	margin: auto;
  }
  .monbooki {
	grid-area: logo;
	padding: 0 2rem;
	height: 2.813rem;
	color: #0065FC;
  }
  .headernav {
	display: flex;
	align-items: center;
	grid-area: navbar;
  }
  .headernavok {
	padding: 2rem;
	font-weight: 500;
	text-align: center;
	transition-duration: 0.1s;
	border-top: 3px transparent solid;
	border-bottom: 3px transparent solid;
  }
  .headernavok[data-active=true] {
	color: #0065FC;
  }
  
@media screen and (min-width: 601px) {
	.header {
	  grid-template-columns: auto 1fr auto auto;
	  grid-template-areas: "logo . navbar button";
	}
	.headernavok[data-active=true] {
	  border-top: 3px solid #0065FC;
	}
}
@media screen and (max-width: 600px) {
		.header {
		  grid-template-columns: auto 1fr auto;
		  grid-template-areas: "logo . button" "navbar navbar navbar";
		}
		.monbooki{
			order: 1;
		}
		.headernav {
			order: 2;
		  }
		  .headernavok {
			border-top: none;
			border-bottom: 3px solid #F2F2F2;
			width: 50%;
		  }
		  .headernavok[data-active=true] {
			border-bottom-color: #0065FC;
		  }
   }
.main {
    max-width: 1440px;
	margin: auto;
	padding: 0 2rem;
	box-sizing: border-box;
	  }

	  .section1headertitre {
		margin-bottom: 0.5rem;
	  }
	  .section1headersoustitre {
		margin-top: 0;
	  }
	  .section1from {
		display: inline-flex;
		max-width: 100%;
		overflow: auto;
	  }
	  .section1fromspam {
		background-color: #F2F2F2;
		padding: 1rem 1.25rem;
		border-radius: 1rem 0 0 1rem;
		text-align: center;
	  }
	  .section1fromspam {
		margin-left: 0.1rem;
	  }
	  .section1fromsection1input {
		border-right: none;
		border-left: none;
		border-top: #F2F2F2 1px solid;
		border-bottom: #F2F2F2 1px solid;
		padding: 0 1.5rem;
		box-sizing: border-box;
		width: 14rem;
		font-size: 1rem;
		font-weight: bold;
		font-family: "Raleway", "Sans serif";
	  }
	  .section1fromsection1input::placeholder {
		font-family: "Raleway", "Sans serif";
		font-size: 1rem;
		color: #00000069;
	  }
	  .section1fromsouinput {
		background-color: #0065FC;
		color: white;
		font-weight: bold;
		border: none;
		border-radius: 0 1rem 1rem 0;
		padding: 0 1.5rem;
		font-family: "Raleway", "Sans serif";
		font-size: 1rem;
		cursor: pointer;
	  }
	  .section1filtres {
		display: flex;
		margin-left: 10rem;
	  }
	  .blockfilter{
		
		display: flex;
	
	  }
	  .section1filtrestitre {
		margin-left: 2rem;
		margin-right: 2rem;
		align-items: center;
		border: 2px solid #d9d9d9;
		border-radius: 2rem;
		cursor: pointer;
		transition-duration: 0.1s;
		font-weight: bold;
		max-width: max-content;
		min-height: auto;
		padding-left: 2rem;
		padding-right: 2rem;
	  }
	  .section1filtrestitre:last-child {
		margin-right: 0;
	  }
	  .section1filtrestitre:hover {
		background-color: #26508b;
		transform: scale(1.015);
	  }
	  .section1fromspam{
		background-color: #DEEBFF;
		border-radius: 100%;
		height: 3rem;
		width: 3rem;
		min-height: 3.5rem;
		min-width: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: -2px;
	  }
	  .section1filtresfitreicone {
		color: blue;
	  }
	  .section1filtrestitre {
		margin-left: 0.1rem;
	  }
	
	  .mes3chambres{
		display: flex;
		border-radius: 4%;
		margin:auto;
	  }
	  .ma3chambre1{
	   padding: 0%;
	   margin: 4%;
	  }
	  .mes456chambres{
		display: flex;
		border-radius: 4%;
		margin: auto;
	  }
	  .machambre1{
		border-radius: 10%;
		background-color: white;
		padding: 1.5%;
		margin: 1%;
	  }
	  .machambre4{
		border-radius: 10%;
		background-color: white;
		padding: 1.5%;
		margin: 1%;
		 }
	  	.mes3chambres{
			display: flex;
			border-radius: 4%;
            margin: auto;
		}
.imgmes3{
	border-top-left-radius: 10%;
	border-top-right-radius:10% ;
	width: 280px;
	height: 177px;
}
#mes6chambres
{display: flex;
	flex-direction: column;
	background-color:#F2F2F2;
	border-radius: 5%;
	box-sizing: border-box;
	padding-right: 160px;
	padding-left: 30px;
}
#mes9chambres{
	display:flex; 
	justify-content:space-between;
}
.ma3chambres{
	display: flex;
	flex-direction: column;
	background-color:#F2F2F2;
	border-radius: 5%;
	justify-items: normal;
}
.ma3chambre1{
	display: flex;
	background-color: white;
	padding: 1.5%;
	border-radius: 10%;
	
}
.imgma3{
border-bottom-left-radius: 10%;
border-top-left-radius: 10%;
width: 177px;
height: 177px;
}

.activité{
	display: grid;
	column-gap: 2rem;
	margin: 4rem 0;
}
.activitéTitre {
	grid-column: 1/-1;
  }
.activitéok1{
	box-shadow: 0 0 20px #0000002e;
	border-radius: 1rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition-duration: 0.1s;
	grid-row: 2/7;
    grid-column: 1/2;
}
.activitéok2{
	box-shadow: 0 0 20px #0000002e;
	border-radius: 1rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition-duration: 0.1s;
	grid-column: 2/3;
    grid-row: 2/5;
}
.activitéok3{
	box-shadow: 0 0 20px #0000002e;
	border-radius: 1rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition-duration: 0.1s;
	grid-column: 3/4;
    grid-row: 2/7;
}
.activitéok4{
	box-shadow: 0 0 20px #0000002e;
	border-radius: 1rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition-duration: 0.1s;
	grid-column: 4/5;
    grid-row: 2/3;
}
.activitéok5{
	box-shadow: 0 0 20px #0000002e;
	border-radius: 1rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition-duration: 0.1s;
	grid-column: 2/3;
    grid-row: 6/7;
}
.activitéok6{
	box-shadow: 0 0 20px #0000002e;
	border-radius: 1rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition-duration: 0.1s;
	grid-column: 4/5;
    grid-row: 4/7;
}
@media (max-width: 1100px) {
	.activité {
	  row-gap: 2rem;
	  grid-template-columns: repeat(3, 1fr);
	  grid-template-rows: auto 12rem 12rem;
	}
}
@media (max-width: 925px) {
	.activité {
	  row-gap: 2rem;
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: auto 12rem 12rem 12rem;
	}
  }
  @media (max-width: 650px) {
	.activité {
	  row-gap: 2rem;
	  grid-template-columns: 1fr;
	  grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
	}
  }
.footer {
	background-color: #F2F2F2;
	width: 100%;
}
.footer0 {
  
	display: flex;
	max-width: 100%;
	width: 1440px;
	margin: auto;
	padding: 0 2rem;
	box-sizing: border-box;
}
.footer1 {
	width: 30%;
	padding: 2rem 2rem;
}
  .footerfooter {
	display: block;
	margin: 1rem 0;
}
.footerfooter:hover {
	text-decoration: underline;
}
@media (max-width: 750px) {
	.footer0 {
	  flex-direction: column;
	  padding: 2rem;
	}
	.footer1 {
	  width: 100%;
	  padding: 0;
	  margin: 1rem 0;
	}
	.footer1:first-child {
		margin-top: 0;
	}
	  .footer1:last-child {
		margin-bottom: 0;
    }
	  .footer1Titre {
		margin: 0;
	}
	  .footerfooter:last-child {
		margin-bottom: 0;
	}
}
	