html,body{
    font-family: raleway;
}
.flexcentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaround{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.flexbotew{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.colorok{
    color:#0065fc
}
.colorbclair{
    color: #deebff;
}
.colorn{
    color: black;
}
.bacgris{
    background-color: #f2f2f2;
}
.backb{
    background-color:#0065fc;
}
.bacclair{
    background-color:  #deebff;
}
.bacgris{
    background-color:  #f2f2f2;
}
.colorn{
    color: black;
}
.cologr{
    color: #f2f2f2;
}

.mesliens{
    width: 20%;
    
}
.deco{
    text-decoration: none;
}
.borok{
    border-top: 2px solid transparent;
}
.borok:hover{
    border-top: 2px solid #0065fc;
    cursor: pointer;
}
.borok:hover>a{
    color: #0065fc;
}
.bornon{
    border: none;
}
.liens{
    width:140px;
    height: 99px;
}
.marglogo{
    border-bottom: 7px;
    width:120px;
    height:50px;
}.textgras{
    font-weight: bold;
}

/*css header*/

.bourrecher{
   width: 400px;
   border-radius: 10px;
   border: 0.5px solid #f2f2f2; 
}
.iconerecher{
    height: 50px;
    width: 50px;
    border-radius:10px 0 0 10px ;
}
.recher{
    height: 50px;
    width:230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.paginrecher{
   padding-left: 20px; 
}
.borecher{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.borecher:hover{
    color: #0065fc;
    background-color: #f2f2f2;
}

/*css filtres*/

.filtre{
    display: flex;
    align-content:center;
}
.margfiltre{
   margin-top: 50px;
   margin-bottom: 40px;
}
.margfiltretitre{
    margin-right:20px;
}
.filtretxticone{
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filtretxticone:hover > .filtretxt{
    color: #0065fc;
}
.filtretxticone:hover > .filtreicone{
    color: white;
    background-color: #0065fc;
}
.filtretxt{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.filtreicone{
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height:52px;
    color: #0065fc;
    background-color: #deebff;
}

/*information*/
.informa{
    display: flex;
    align-items: center;
}
.paricone{
    width: 20px;
    height: 20px;
    border: #f2f2f2;
    border-radius: 25px;
    margin-right: 25px;
}

/*section hergement*/
.Hebergements{
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}
.compaherber{
    padding-left: 20px;
    padding-right: 20px;
}
.fondherb{
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}
.fondherb:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.compa1{
    margin-bottom: 10px;

}
.compa2{
    margin-top: 10px;
}
.compadescrtionherb{
    width: 90%;
}
.flexcocentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexcoaround{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexcobotew{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lesplupo{
    flex:1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px; 
}

.imgheber{
   background-image: url("Hotelok1.jpg");
   background-position:center;
   background-size: cover;
   width: 100%;
   height: 120px;
   border-radius: 15px 15px 0 0;
}

.imgheber1{
    background-image: url("Hotelok2.jpg");
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
 }
 .imgheber2{
    background-image: url("Hotelok3.jpg");
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
 }
 .imgheber3{
    background-image: url("hotel22.jpg");
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
 }
 .imgheber4{
    background-image: url("hotel17.jpg");
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
 }
 .imgheber5{
    background-image: url("hotel16.jpg");
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
 }
/*css plus populaires*/

.compapopul{
    padding-left:20px;
    padding-right: 20px;
}
.fondpo{
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}
.fondpo:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.compapo12{
    margin-bottom: 22px;
}
.compadetapo{
    width: 60%;
    padding-left: 5%;
}
.imgpo{
    background-image: url("hotel9.jpg");
    background-position:center;
    background-size: cover;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
 }
 .imgpo1{
    background-image: url("hotel22.jpg");
    background-position:center;
    background-size: cover;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
 }
 .imgpo2{
    background-image: url("hotel17.jpg");
    background-position:center;
    background-size: cover;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
 }
/*css Activités*/
.Activité{
    margin-top: 50px;
    margin-bottom: 50px;
}
.compaActivité{
    width: 100%;
    height:600px;
}
.fondactivité{
    width: 23%;
    border-radius: 15px;
    box-shadow:5px 5px 5px 1px #f2f2f2;
}
.fondactivité:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.fondactivité2356{
    width: 100%;
    border-radius: 15px;
    box-shadow:5px 5px 5px 1px #f2f2f2;
}
.fondactivité2356:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.compaActivité2356{
    width: 23%;
    height:600px;
}
.htitre{
    height: 70px;
}
.titreact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:5%;
    width: 95%;
}
.imgActivité1{
    background-image: url("vieuxport.jpg");
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.imgActivité2{
    background-image: url("tchad.jpg");
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0;
}
.imgActivité3{
    background-image: url("new1.jpg");
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
}
.imgActivité4{
    background-image: url("new3.jpg");
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.imgActivité5{
    background-image: url("notredame.jpg");
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.imgActivité6{
    background-image: url("ville10.jpg");
    background-position:center;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
/*css footer*/
.pieds{
    height: 300px;
    margin-top: 100px;
}
.tailcompa{
    height: 150px;
}
.margcompa1{
    margin-left: 15%;
}
.margcompa2{
    margin-right: 15%;
}