html,body{
    font-family: raleway;
}
.flexcentre{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaround{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.flexbotew{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.colorok{
    color:#0065fc
}
.colorbclair{
    color: #deebff;
}
.colorn{
    color: black;
}
.bacgris{
    background-color: #f2f2f2;
}
.backb{
    background-color:#0065fc;
}
.bacclair{
    background-color:  #deebff;
}
.bacgris{
    background-color:  #f2f2f2;
}
.colorn{
    color: black;
}
.cologr{
    color: #f2f2f2;
}
.mesliens12{
    margin-left: 60%;
}
.mesliens{
    width: 100%;
    
}
.deco{
    text-decoration: none;
}
.borok{
    border-top: 2px solid transparent;
}
.borok:hover{
    border-top: 2px solid #0065fc;
    cursor: pointer;
}
.borok:hover>a{
    color: #0065fc;
}
.bornon{
    border: none;
}
.liens{
    width:140px;
    height: 99px;
}
.marglogo{
    border-bottom: 7px;
    width:120px;
    height:50px;
}.textgras{
    font-weight: bold;
}

/*css header*/

.bourrecher{
   width: 400px;
   border-radius: 10px;
   border: 0.5px solid #f2f2f2; 
}
.iconerecher{
    height: 50px;
    width: 50px;
    border-radius:10px 0 0 10px ;
}
.recher{
    height: 50px;
    width:230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.paginrecher{
   padding-left: 20px; 
}
.borecher{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.borecher:hover{
    color: #0065fc;
    background-color: #f2f2f2;
}

/*css filtres*/

.filtre{
    display: flex;
    align-content:center;
}
.margfiltre{
   margin-top: 50px;
   margin-bottom: 40px;
}
.margfiltretitre{
    margin-right:20px;
}
.filtretxticone{
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filtretxticone:hover > .filtretxt{
    color: #0065fc;
}
.filtretxticone:hover > .filtreicone{
    color: white;
    background-color: #0065fc;
}
.filtretxt{
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.filtreicone{
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height:52px;
    color: #0065fc;
    background-color: #deebff;
}

/*information*/
.informa{
    display: flex;
    align-items: center;
}
.paricone{
    width: 20px;
    height: 20px;
    border: #f2f2f2;
    border-radius: 25px;
    margin-right: 25px;
}

/*section hergement*/
.Hebergements{
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}
.compaherber{
    padding-left: 20px;
    padding-right: 20px;
}
.fondherb{
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}
.fondherb:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.compa1{
    margin-bottom: 10px;

}
.compa2{
    margin-top: 10px;
}
.compadescrtionherb{
    width: 90%;
}
.flexcocentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexcoaround{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexcobotew{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.lesplupo{
    flex:1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px; 
}
.proimg{
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
}
.imgheber{
   background-image: url("Imageprojet/Hotelok1.jpg")
}
.imgheber1{
    background-image: url("Imageprojet/Hotelok2.jpg");
 }
 .imgheber2{
    background-image: url("Imageprojet/Hotelok3.jpg");
 }
 .imgheber3{
    background-image: url("Imageprojet/hotel22.jpg");
 }
 .imgheber4{
    background-image: url("Imageprojet/hotel17.jpg");
 }
 .imgheber5{
    background-image: url("Imageprojet/hotel16.jpg");
 }
/*css plus populaires*/

.compapopul{
    padding-left:20px;
    padding-right: 20px;
}
.fondpo{
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}
.fondpo:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.compapo12{
    margin-bottom: 22px;
}
.compadetapo{
    width: 60%;
    padding-left: 5%;
}
.ensmbimg{
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgpo{
    background-image: url("Imageprojet/hotel9.jpg");
 }
 .imgpo1{
    background-image: url("Imageprojet/hotel22.jpg");
 }
 .imgpo2{
    background-image: url("Imageprojet/hotel17.jpg");
 }
/*css Activités*/
.Activité{
    margin-top: 50px;
    margin-bottom: 50px;
}
.compaActivité{
    width: 100%;
    height:600px;
}
.fondactivité{
    width: 23%;
    border-radius: 15px;
    box-shadow:5px 5px 5px 1px #f2f2f2;
}
.fondactivité:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.fondactivité2356{
    width: 100%;
    border-radius: 15px;
    box-shadow:5px 5px 5px 1px #f2f2f2;
}
.fondactivité2356:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.compaActivité2356{
    width: 23%;
    height:600px;
}
.htitre{
    height: 70px;
}
.titreact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:5%;
    width: 95%;
}
.ensimgA14{
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0;
}
.imgActivité1{
    background-image: url("Imageprojet/vieuxport.jpg");
}
.ensimgA23{
    border-radius: 15px 15px 0 0;
}
.imgActivité2{
    background-image: url("Imageprojet/tchad.jpg");
    width: 100%;
    height: 250px;
}
.imgActivité3{
    background-image: url("Imageprojet/new1.jpg");
    width: 100%;
    height: 150px;
}
.imgActivité4{
    background-image: url("Imageprojet/new3.jpg");
}
.ensimgA56{
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
}
.bactimg{
    background-position:center;
    background-size: cover;
}
.imgActivité5{
    background-image: url("Imageprojet/notredame.jpg");
}
.imgActivité6{
    background-image: url("Imageprojet/ville10.jpg");
}
/*css footer*/
.pieds{
    height: 300px;
    margin-top: 100px;
}
.tailcompa{
    height: 150px;
}
.margcompa1{
    margin-left: 15%;
}
.margcompa2{
    margin-right: 15%;
}
/*resposive*/
@media  screen and (max-width: 1295px) {
    .mesliens12{
        margin-left: 35%;
    }
    .compadescrtionherb{
        min-height: 150px;
    }
    .Hebergements{
        min-height: auto;
        padding: 20px;
    }
    .lesplupo{
        min-height: auto;
        padding: 20px;
    }
    
    .pot{
            margin-top: 0%;
        }
}
@media screen and (max-width:990px){
    .filtredpl{
        flex-direction: column;
        align-items: flex-start;
    }
    .filtretxticone{
        margin-bottom: 20px;
    }
    #hebergements{
        flex-direction: column-reverse;
        width: 100%
    }
    .lesplupo{
        width: 90%;
        flex: none;
        margin-left: 0;
        padding: 5%;
    }
    .Hebergements{
        width: 90%;
        margin-right:0;
        flex: none;
        margin-top: 40px;
        padding: 5%;
    }
}
@media screen and (max-width:770px){
    .mesliens{
        width: 90%;
    }
    .mesliens12{
        margin-left: 20%;
    }
    .Hebergements{
        height: auto;
    }
    .compa1{
        flex-direction: column;
        margin-bottom: 0;
    }
    .compa2{
        flex-direction: column;
        margin-top: 0;
    }
    .fondherb{
        width: 100%;
        margin-bottom: 50px;
    }
    .compadescrtionherb{
        min-height: auto;
    }
    .compaActivité{
        flex-direction: column;
        height: auto;
    }
    .fondactivité{
    width: 100%;
    margin-bottom: 50px;
    }
    .compaActivité2356 {
        width: 100%;
        height: auto;
    }
    .fondactivité2356{
        margin-bottom:50px;
    }
    .imgActivité1,.imgActivité2,.imgActivité3,.imgActivité4,.imgActivité5,.imgActivité6{
        height: 200px;
    }
    .pieds{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-left: 25px;
    }
    .margcompa1{
        margin-left: 0;
    }
}